
body {
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: rgb(1, 14, 15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
  line-height: 2;
  font-family: arial, sans-serif;
  text-shadow: 0 0 10px white, 0 0 10px whitesmoke;
  border-style: none;
  border-width: 0px;
  border-color: #ccc;
  border-radius: 0%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
}
  
.gridsquare {
    border: 2px solid #5397ce; 
    position: relative;
    top: 0; left: 0;
    height: auto;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    background-color: #5397ce;
    padding: 0px;
}

.inputBtn {
  font-family: arial,sans-serif;
  font-size: 14px;
  margin-top: 20px;
  border: 2px solid grey;
  display: inline-flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  padding: 0px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  align-items: flex-end;
}

#reset{
  width: 200px;
  height: 30px;
}

#rdmColor{
  width: 200px;
  height: 30px;
}

#container{
  text-align: center;
}