
body {
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
  font-size: 48px;
  font-weight: bold;
  color: rgb(1, 14, 15);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 2;
  font-family: arial, sans-serif;
  text-shadow: 0 0 10px white, 0 0 10px whitesmoke;
  border-style: none;
  border-width: 0px;
  border-color: #ccc;
  border-radius: 0%;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
    position: relative;
    justify-content: space-evenly;
  }
  
  .gridsquare {
    border: 2px solid #5397ce; 
    position: relative;
    top: 0; left: 0;
    height: auto;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .box {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    background-color: #5397ce;
    padding: 0px;
  }

  input {
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  